<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>


  {% load static %}
  <link rel="stylesheet" href="{% static 'general.css' %}">

  <title>Stack</title>


</head>

<body class="flex flex-col bg-gradient-to-b from-violet-700 to-black items-center justify-center relative">


  <nav
    class="flex items-center z-[2]  justify-center text-white text-md py-2 px-5 absolute top-10 max-md:top-5 left-0 right-0 rounded-full w-fit gap-10 max-lg:gap-2 max-md:text-sm  max-md:gap-5  m-auto bg-white bg-opacity-30 border border-white">
    <a href="{% url 'home' %}" class="border-b-2 border-white border-opacity-0 hover:border-b-2 hover:border-opacity-100 hover:transition">Home</a>
    <a href="{% url 'about' %}" class="border-b-2 border-white border-opacity-0 hover:border-b-2 hover:border-opacity-100 hover:transition">About</a>
    <a href="{% url 'home' %}" class="text-2xl font-medium">Marc<span class="text-black">Dev</span></h1>
    <a href="{% url 'projects' %}" href="" class="border-b-2 border-white border-opacity-0 hover:border-b-2 hover:border-opacity-100 hover:transition">Projects</a>  
    <a href="{% url 'stack' %}" class="border-b-2 border-white border-opacity-0 hover:border-b-2 hover:border-opacity-100 hover:transition">Stack</a>
  </nav>

  <div class="h-screen w-screen  flex gap-3 p-3 items-center justify-center text-white max-md:flex-wrap max-md:h-fit max-md:mt-10">

    
    <div class="bg-white fade-up bg-opacity-30  w-full h-fit border p-3 rounded-lg">
      <h1 class="text-4xl font-medium text-center">Frontend</h1>
      <div class="flex items-center gap-10 flex-wrap justify-center p-3">
        {% for stack in frontend %}
        <span class="iconify text-[6rem] max-2xl:text-[4rem] " data-icon="{{stack.icon}}"></span>
        {% endfor %}
      </div>
    </div>

    <div class="bg-white fade-up bg-opacity-30  w-full h-fit border p-3 rounded-lg">
      <h1 class="text-4xl font-medium text-center">Backend</h1>
      <div class="flex items-center gap-10 flex-wrap justify-center p-3">
        {% for stack in backend %}
        <span class="iconify text-[6rem] max-2xl:text-[4rem] " data-icon="{{stack.icon}}"></span>
        {% endfor %}
      </div>
    </div>

    <div class="bg-white fade-up bg-opacity-30  w-full h-fit border p-3 rounded-lg">
      <h1 class="text-4xl font-medium text-center">Tools</h1>
      <div class="flex items-center gap-10 flex-wrap justify-center p-3">
        {% for stack in tools %}
        <span class="iconify text-[6rem] max-2xl:text-[4rem] " data-icon="{{stack.icon}}"></span>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="z-[2] bg-white bg-opacity-30 p-4 flex items-center gap-2 fade-up rounded-full   border absolute bottom-10 end-10 hover:bg-purple-800 cursor-pointer transition group">
    <span   class="iconify text-3xl text-white" data-icon="wpf:message"></span>
    <a  href="mailto:martinezmarc228@gmail.com"  class="hidden group-hover:flex text-white text-xl group-hover:transition fade-up">Message Me</a>
  </div>
</body>

</html>